<!-- css for sticky footer -->
<style type="text/css">
    .Site {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    .Site-content {
      flex: 1;
    }
    </style>
    
    <!-- Footer -->
    <footer class="footer">
     <div class="ui secondary vertical footer segment" style="background-color:#EDEDED;">
        <div class="ui center aligned container">
          <a href="https://codebuckets.in/" target="_blank"><span>Copyright &copy; Codebucket Solutions 2019</span></a>
      </div>
    </div>
    </footer>
    
    <!-- End of Footer -->
    